<template>
  <q-form @submit="addTodo">
    <div class="row">
      <div class="col-8" id="addTodo">
        <q-input square outlined v-model="title" label="New Task" />
      </div>
      <div class="col-4" id="addTodo">
        <q-btn label="Add" type="submit" color="primary"/>
      </div>
    </div>
  </q-form>
</template>

<script>
export default {
  name: 'AddTodo',
  data () {
    return {
      title: ''
    }
  },
  methods: {
    addTodo: function (e) {
      e.preventDefault()
      const newTodo = {
        title: this.title,
        completed: false
      }
      this.$emit('add-todo', newTodo)
      this.title = ''
    }
  }
}
</script>

<style>
#addTodo {
  padding: 5px;
  justify-content: center;
}
</style>
