<template>
  <q-card flat bordered class="my-card">
    <q-card-section>
      <div class="text-h6">Todo List</div>
    </q-card-section>

    <q-separator inset />
    <q-card-section>
      <AddTodo v-on:add-todo="addTodo"/>
    </q-card-section>
    <q-card-section>
      <q-list v-for="(todo, id) in todos" :key="id" bordered separator >
        <TodoItem v-bind:todo="todo" v-on:del-todo="deleteTodo" />
      </q-list>
    </q-card-section>
  </q-card>
</template>

<script>
import TodoItem from './TodoItem'
import AddTodo from './AddTodo'
import axios from 'axios'

export default {
  name: 'TodoList',
  components: {
    TodoItem,
    AddTodo
  },
  data () {
    return {
      todos: []
    }
  },
  mounted () {
    this.createTodo()
  },
  methods: {
    createTodo: function () {
      var that = this
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=8')
        .then(function (res) {
          console.log(res.data)
          that.todos = res.data
          console.log(that.todos)
        })
        .catch(err => console.log(err))
    },
    // mounted: function () {
    //   axios.get('https://jsonplaceholder.typicode.com/todos?_limit=8')
    //     .then(function (res) {
    //       console.log(res.data)
    //       console.log(this.todos)
    //     })
    //     .catch(err => console.log(err))
    // },
    deleteTodo: function (id) {
      this.todos = this.todos.filter(todo => todo.id !== id)
    },
    addTodo: function (newTodo) {
      const { title, completed } = newTodo
      axios.post('https://jsonplaceholder.typicode.com/todos', {
        title,
        completed
      }).then(res => { return (this.todos = [...this.todos, newTodo]) }).catch(err => console.log(err))
    }
  }
  // mounted: function () {
  //   axios.get('https://jsonplaceholder.typicode.com/todos?_limit=8')
  //     .then(function (res) {
  //       console.log(res.data)
  //       // console.log(this.todos)
  //     })
  //     .catch(err => console.log(err))
  // }
}
</script>
