<template>
  <q-item v-bind:class="{'is-complete':todo.completed}" v-ripple>
    <q-item-section>
      <q-item-label>
        {{todo.title}}
      </q-item-label>
    </q-item-section>
    <q-item-section side>
      <div class="row">
        <div class="col" id="todoActions">
          <input type="checkbox" v-on:change="todoComplete"/>
        </div>
        <div class="col" id="todoActions">
          <q-btn
            round
            dense
            size="9px"
            color="primary"
            icon="clear"
            @click="$emit('del-todo', todo.id)"
            />
        </div>
      </div>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'TodoItem',
  props: ['todo'],
  methods: {
    todoComplete: function () {
      this.todo.completed = !this.todo.completed
    }
  }
}
</script>

<style>
  .is-complete {
      text-decoration: line-through;
  }
  #todoActions {
    padding: 3px;
  }
</style>
