<template>
  <q-banner class="bg-grey-3">
    <q-breadcrumbs>
      <q-breadcrumbs-el label="Dashboard" icon="home" to="/" />
      <q-breadcrumbs-el label="User" to="/user" />
      <q-breadcrumbs-el label="New User" to="/vue-components/breadcrumbs" />
    </q-breadcrumbs>
  </q-banner>
</template>

<script>
export default {
  name: 'Banner'
}
</script>
