<template>
  <div class="row">
    <div class="col-md col-xs-12">
      <q-card class="my-card">
        <q-card-section class="bg-primary text-white">
          <div class="row">
            <div class="col-8">
              <div class="text-h3">10</div>
              <div class="text-subtitle2">New Tasks!</div>
            </div>
            <div class="col-4" align="right">
            <q-icon
              name="assignment"
              style="font-size: 4rem;"
            />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat>View Details</q-btn>
        </q-card-actions>
      </q-card>
    </div>

    <div class="col-md col-xs-12">
      <q-card class="my-card">
        <q-card-section class="bg-primary text-white">
          <div class="row">
            <div class="col-8">
              <div class="text-h3">10</div>
              <div class="text-subtitle2">New Users!</div>
            </div>
            <div class="col-4" align="right">
            <q-icon
              name="person"
              style="font-size: 4rem;"
            />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat>View Details</q-btn>
        </q-card-actions>
      </q-card>
    </div>
    <div class="col-md col-xs-12">
      <q-card class="my-card">
        <q-card-section class="bg-primary text-white">
          <div class="row">
            <div class="col-8">
              <div class="text-h3">10</div>
              <div class="text-subtitle2">New Feedbacks!</div>
            </div>
            <div class="col-4" align="right">
            <q-icon
              name="feedback"
              style="font-size: 4rem;"
            />
            </div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat>View Details</q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardInfo'
}
</script>

<style scoped>
.col-md {
  padding: 10px
}
</style>
