<template>
  <q-page>
    <div class="flexbox">
      <div class="q-pa-md">
        <h3>Dashboard</h3>
      </div>
      <div class="q-pa-md">
        <div class="col" id="banner">
          <Banner/>
        </div>
      </div>
      <div class="q-pa-md">
        <CardInfo/>
      </div>
      <div class="q-pa-md">
      <div class="row">
        <div class="col" id="line">
          <q-card flat bordered class="my-card">
            <q-card-section>
              <div class="text-h6">New Users</div>
            </q-card-section>

            <q-separator inset />

            <q-card-section>
              <LineChart/>
            </q-card-section>
          </q-card>
        </div>
      </div>
      </div>
      <div class="q-pa-md">
      <div class="row">
        <div class="col-md-4 col-xs-12" id="TodoDoughnut">
          <TodoList/>
        </div>
        <div class="col-md-8 col-xs-12" id="TodoDoughnut">
          <q-card flat bordered class="my-card">
            <q-card-section>
              <div class="text-h6">Users Based on Age</div>
            </q-card-section>

            <q-separator inset />

            <q-card-section>
              <DoughnutChart/>
            </q-card-section>
          </q-card>
        </div>
      </div>
      </div>
    </div>
  </q-page>
</template>

<style>
q-page {
  padding: 10px;
}
h3 {
  margin: 0px;
}
#TodoDoughnut, #line {
  padding: 10px;
}
</style>

<script>
import LineChart from './LineChart/LineChart'
import DoughnutChart from './DoughnutChart/DoughnutChart'
import TodoList from './TodoList/TodoList'
import Banner from './Banner'
import CardInfo from './CardInfo'

export default {
  name: 'PageIndex',
  components: {
    LineChart,
    DoughnutChart,
    TodoList,
    Banner,
    CardInfo
  },
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  }
}
</script>
