<template>
  <div class="container">
    <q-card flat bordered class="my-card mt-5">
      <q-card-section>
        <div class="text-h6">Log In</div>
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <div class="q-pa-md">
          <q-form
            @submit="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
          >
            <q-input
              filled
              v-model="username"
              label="Username"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />

            <q-input
              filled
              v-model="password"
              type="password"
              label="Password"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            <div align="right">
              <q-btn label="Submit" type="submit" color="primary"/>
              <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
            </div>
          </q-form>
      </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      username: null,
      password: null,
      admin: {
        username: 'admin',
        password: 'admin'
      }
    }
  },
  methods: {
    onSubmit () {
      if (this.username !== '' && this.password !== '') {
        if (this.username === this.admin.username && this.password === this.admin.password) {
          this.$emit('authenticated', true)
          this.$router.replace({ name: 'Index' })
        } else {
          this.$router.replace({ name: 'Login' })
        }
      }
    },
    onReset () {
      this.username = null
      this.password = null
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
h3 {
  margin: 0px;
}
</style>
