<template>
<q-page>
  <div class="q-pa-md">
    <div class="row">
      <div class="col">
        <h3>Users</h3>
      </div>
      <div align="right" class="row">
        <q-btn label="Add New User" color="primary" @click="medium = true" />
      </div>
    </div>
  </div>
  <div class="q-pa-md">
    <div class="col">
      <Banner/>
    </div>
  </div>
  <div class="q-pa-md">
    <q-table
      :data="data"
      :columns="columns"
      row-key="name"
      :separator="separator"
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.name }}
            <q-popup-edit v-model="props.row.name" buttons>
              <q-input v-model="props.row.name" dense autofocus counter />
            </q-popup-edit>
          </q-td>
          <q-td key="username" :props="props">
            {{ props.row.username }}
          </q-td>
          <q-td key="email" :props="props">
            {{ props.row.email }}
          </q-td>
          <q-td key="phone" :props="props">
            {{ props.row.phone }}
          </q-td>
          <q-td>
            <q-btn
            small
            @click="deleteItem(props.row)"
            >
            delete
            </q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <q-dialog v-model="medium" persistent>
      <q-card style="width: 300px; max-width: 80vw;">
        <q-card-section class="row">
          <div class="q-pa-md">
            <div>
              <div class="col">
                <div class="text-h6">User</div>
              </div>
              <div class="col">
                <q-input v-model="newUser.name" label="Full Name"/>
              </div>
              <div class="col">
                <q-input v-model="newUser.username" label="Username"/>
              </div>
              <div class="col">
                <q-input v-model="newUser.email" label="Email"/>
              </div>
              <div class="col">
                <q-input v-model="newUser.phone" label="Phone Number"/>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Save" color="primary" @click="save" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</q-page>
</template>

<script>
import axios from 'axios'
import Banner from './Banner'

export default {
  name: 'UserPage',
  components: {
    Banner
  },
  data () {
    return {
      separator: 'cell',
      medium: false,
      newUser: [
        {
          name: '',
          username: '',
          email: '',
          phone: ''
        }
      ],
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Name',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: 'username',
          align: 'center',
          label: 'Username',
          field: 'username'
        },
        {
          name: 'email',
          label: 'Email',
          field: 'email'
        },
        {
          name: 'phone',
          label: 'Phone Number',
          field: 'phone'
        },
        {
          name: 'action',
          label: 'Actions'
        }
      ],
      data: []
    }
  },
  mounted () {
    this.dataUser()
  },
  methods: {
    dataUser: function () {
      var that = this
      axios.get('https://jsonplaceholder.typicode.com/users')
        .then(function (res) {
          console.log(res)
          that.data = res.data
        })
        .catch(function (err) {
          console.log(err)
        })
    },
    deleteItem: function (item) {
      const index = this.data.indexOf(item)
      confirm('Delete?') && this.data.splice(index, 1)
    },
    save: function (e) {
      e.preventDefault()
      const newUser = {
        name: this.newUser.name,
        username: this.newUser.username,
        email: this.newUser.email,
        phone: this.newUser.phone
      }
      console.log(newUser)
      const { name, username, email, phone } = newUser
      axios.post('https://jsonplaceholder.typicode.com/users', {
        name,
        username,
        email,
        phone
      }).then(res => { return (this.data = [...this.data, newUser]) }).catch(err => console.log(err))
    }
  }
}
</script>

<style>
h3 {
  margin: 0px;
}
</style>
