<template>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <doughnut-chart></doughnut-chart>
      </div>
    </div>
  </div>
</template>

<script>
import DoughnutChart from './DoughnutChart.js'
export default {
  name: 'DoughnutChart',
  components: {
    'doughnut-chart': DoughnutChart
  }
}

</script>
