<template>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">New User</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <line-chart></line-chart>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from './LineChart.js'
export default {
  name: 'LineChart',
  components: {
    'line-chart': LineChart
  }
}

</script>
