<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat @click="drawerLeft = !drawerLeft" round dense icon="menu" />
        <q-toolbar-title>
          Admin
        </q-toolbar-title>

        <div>
          <q-btn-dropdown round flat>
            <template v-slot:label>
              <div class="row items-center no-wrap">
                <q-avatar left size="30px">
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                </q-avatar>
                <div class="text-center">
                  Admin
                </div>
              </div>
            </template>
            <q-list>
              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Profile</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Inbox</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup>
                <q-item-section>
                  <q-item-label>Settings</q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="logout">
                <q-item-section>
                  <q-item-label>Logout</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawerLeft"
      bordered
      show-if-above
      :width="200"
      content-class="bg-grey-2"
    >
      <q-scroll-area class="fit">
          <q-list>
            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="dashboard" />
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <router-link to="/">
                  Dashboard
                  </router-link>
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="person" />
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <router-link to="/user">
                  User
                  </router-link>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

export default {
  name: 'MyLayout',
  data () {
    return {
      drawerLeft: false
    }
  },
  methods: {
    logout: function () {
      this.$parent.authenticated = false
      this.$router.replace({ name: 'Login' })
    }
  }
}
</script>

<style scoped>
q-page-container {
  padding: 10px;
}
q-item.is-active {
  color: blue;
}
q-item-label {
  text-decoration: none;
}
</style>
